*{
    padding:0;
    margin:0;
}
body{
    margin:0;
    padding:0;
    font-family: "heebo";
}
:root{
    --main-color:#F7481D;
}
a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
}
a:hover{
    color:black;
}
li{
    list-style: none;
}

/*//////////////////////////////////////////////////
            NAV
//////////////////////////////////////////////////*/

nav{
    display:flex;
    justify-content: space-around; 
    height:fit-content;
    padding-bottom: 2vh;
    background-color: var(--main-color);
}
h1{
    text-align: center;
    width:80%;
    margin: 5px 0 0 35px;
    color:white;
}
.openMenu{
    width: fit-content;
    height: fit-content;
    margin: 8px 10px 0 0;
    color: white;
}
nav>img{
    width:7em;
    margin: 2vh 0 0 2vh;
    display:none;
}
.mainMenu{
    display: none;
    text-align: center;
    width:fit-content;
    align-self: center;
    margin-top: 10px;
}
.mainMenu>ul>li{
    margin: 5px 0;
}
@media (min-width:600px) and (max-width:2000px){
    nav{
        background-color:white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(#f7481d, #f8643f);
        border-bottom: grey solid 2px;
    }
    nav>img{
        display:block;
        border-radius: 15px;
        padding-bottom: 10px
    }
    .firstli>a:link, .secondli>a:link, .firstli>a:visited, .secondli>a:visited{
        color:black;
    }
    .firstli>a:hover, .secondli>a:hover{
        color:grey;
    }
    .openMenu, .closeMenu, h1{
        display:none;
    }
    .mainMenu{
        display:flex;
        margin: 80px 0 0 0;
        width: 60%;
    }
    .mainMenu>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .mainMenu>ul>li{
        padding: 0 3vh;
        font-size: 20px;
        background-color: white;
        border-radius: 5px;
    }
}
/*//////////////////////////////////////////////////
        MAIN
////////////////////////////////////////////////////*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% 10% 20% 10%;
}
h2{
    color:black;
    margin-bottom: 5vh;
    text-shadow: 1px 1px grey;
    font-size: 30px;
}

/*////////////////////////////////////////////////////////
        FOOTER
/////////////////////////////////////////////////////////*/
footer{
    background: var(--main-color);
    height:fit-content;
    text-align: center;
    padding: 10px 0; 
    font-weight: 500;
    color:white;
}